<!DOCTYPE html>
<html>
<!-- служебная часть -->

<head>
    <!-- заголовок страницы -->
    <title>Анкета Безруков</title>
    <!-- настраиваем служебную информацию для браузеров -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- загружаем Бутстрап -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
    img {
      max-width: 100%;
      max-height: 100%;
    }

    h1 {
      font-size: 50px;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    h2 {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
    }



    </style>
    <style>
   body{
    background: radial-gradient(circle farthest-corner at 100px 50px, #FBF2EB, #352A3B);
   }
   h1 {
    background-color: #31332c; /* Цвет фона под заголовком */
   }
   p {
    background-color: #4b4d4b; /* Цвет фона под текстом параграфа */
    color: white; /* Цвет текста */
   }
    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 style="color: white">Резюме</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="rounded">
                <p style="font-size: 21px;" class="rounded">Меня зовут Безруков Григорий Александрович, мне 16 лет, учусь
                    в 11 классе и
                    проживаю в городе Москва.</p>
            </div>
            <div class="rounded">
                <p style="font-size: 21px;" class="rounded">Начал изучать программирование благодаря Яндекс лицею, <a
                        href="https://lyceum.yandex.ru/certificate/check"> закончил первый курс с отличием</a> <a
                        name="идентификатор">(2299 44447, Безруков)</a>, сейчас учусь на втором.</p>
            </div>
            <div class="rounded">
                <p style="font-size: 21px;" class="rounded">После окончания первого курса Яндекс Лицея, летом, начал
                    активно изучать
                    Python: читать документации (Марк
                    Лутц), смотреть курсы, также успел поработать на профи.ру: выполнял заказы и.т.д</p>
            </div>
            <div class="rounded">
                <p style="font-size: 21px;" class="rounded">В середине июля устроился freelance-разработчиком в
                    юридическую компанию,
                    моей задачей было создание
                    CRM-системы на платформе телеграмм, а также увеличение кол-во лидов с помощи ботов и каналов.</p>
            </div>
            <div class="rounded ml-1">
                <p style="font-size: 21px;" class="rounded">CRM-система находится на стадии разработки, ознакомиться с
                    проектом можно на
                    <a
                            href="https://github.com/GrishaTS/legalbot2/tree/main/vavilobot">GIT
                        HUB</a></p>
            </div>
            <div class="rounded">
                <p style="font-size: 21px;" class="rounded">В сентябре я устроился в эту компанию официально: <a
                        href="https://disk.yandex.ru/i/jZc-Xj7oR-Bz9w">трудовая книжка</a></p>
            </div>
            <div class="rounded">
                <p style="font-size: 21px;" class="rounded">В моих перспективах развиваться дальше, получать больше
                    знаний, изучать
                    другие аспекты программирования и найти себя в этом</p>

            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src="media/my_questionnaire/imges/ya_photo.jpg" alt="asdf" height="725px" ;>
        </div>
    </div>
</div>
<h2>Знания</h2>
<h1></h1>
<h4>База Python</h4>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item" style="background: #39373d; color: white">Работа со всеми типами данных их методами и
        функциями
    </li>
    <li class="list-group-item" style="background: #39373d; color: white">Функциональное программирование</li>
    <li class="list-group-item" style="background: #39373d; color: white">ООП</li>
</ul>
<h1></h1>
<h4>Боты</h4>
<ul class="list-group list-group-horizontal-sm">
    <li class="list-group-item" style="background: #39373d; color: white">Вк боты</li>
    <li class="list-group-item" style="background: #39373d; color: white">Телеграмм боты</li>
</ul>
<h1></h1>

<h1></h1>
<h4>Остальное</h4>
<ul class="list-group list-group-horizontal-xl">
    <li class="list-group-item" style="background: #39373d; color: white">Работа с различными API</li>
</ul>
<ul class="list-group list-group-horizontal-xl">
    <li class="list-group-item" style="background: #39373d; color: white">Работа с базой данных SqLite</li>
</ul>
<ul class="list-group list-group-horizontal-xl">
    <li class="list-group-item" style="background: #39373d; color: white">Парс сайтов через requests и BeautifulSoup</li>
</ul>
<ul class="list-group list-group-horizontal-xl">
    <li class="list-group-item" style="background: #39373d; color: white">Умение работать с большим количеством
        библиотек
    </li>
</ul>
<ul class="list-group list-group-horizontal-xl">
    <li class="list-group-item" style="background: #39373d; color: white">Базовые знания работы с сервером по ssh
        подключению
    </li>
</ul>
<ul class="list-group list-group-horizontal-xl">
    <li class="list-group-item" style="background: #39373d; color: white">Создание графических интерфейсов с помощью
        Tkinter и PyQt5
    </li>
</ul>
<ul class="list-group list-group-horizontal-xl">
    <li class="list-group-item" style="background: #39373d; color: white">...</li>
</ul>


</body>
<!-- конец всей страницы -->

</html>